---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }}
        <span style="font-size:20px; color:#0006;">
            / {{ site.course_semester }}
        </span>
    </h1>

    {% include announcements.html %}
    <br />

    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>

    {{ content }}

    <br>

    <div style="width:100%; display:flex; justify-content:center; align-items:flex-start; gap:140px; flex-wrap:wrap; margin-top:20px;">

        <div style="width:260px; text-align:center;">
            <h2 style="text-align:center;">Instructor</h2>

            <div style="display:flex; justify-content:center; width:100%;">
                {% for ins in site.data.people.instructors %}
                <div class="image--cover-container" style="float:none; display:block; margin:0 auto; text-align:center;">
                    <img src="{{ ins.profile_pic | prepend: site.baseurl }}" class="image--cover">

                    {% if ins.webpage %}
                    <p><a href="{{ ins.webpage }}">{{ ins.name }}</a></p>
                    {% else %}
                    <p>{{ ins.name }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>


        <div style="width:260px; text-align:center;">
            <h2 style="text-align:center;">Teaching Assistant</h2>

            <div style="display:flex; justify-content:center; width:100%;">
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container" style="float:none; display:block; margin:0 auto; text-align:center;">
                    <img src="{{ ta.profile_pic | prepend: site.baseurl }}" class="image--cover">

                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ ta.name }}</a></p>
                    {% else %}
                    <p>{{ ta.name }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div>
